.powerSupplyContainer {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    grid-template-areas: 
        ". psuImage psuImage psuSelect";
}

.powerSupplyContainer .psuImageContainer {
    grid-area: psuImage;
    height: 75px;
    width: 200px
}                    

.powerSupplyContainer .psuImageContainer img {
    height: 100%;     
}

.powerSupplyContainer label {
    grid-area: psuSelect;
}
