*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-font-family: "Spartan", Helvetica, sans-serif;
  --panel-bg-color: #ffffff;
  --accent-bg-color: #f4f4f4;
  --accent-font-color: #959494;
  --secondary-bg-color: #cc2a27;
  --third-bg-color: #46bd36;
  --input-height: 40px;
  --input-margin: 5px;
  --input-font-size: 12px;
  --input-font-weight: 300;
  --input-border-color: #dadada;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: var(--main-font-family);
  font-size: 14px;
  background: #e7e7e6;
  /* background: #111; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  width: var(--input-height);
  padding: 10px 4px;
  margin-right: var(--input-margin);
  text-align: center;
}

select {
  appearance: none;
  width: 100%;
  padding: 10px 4px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: inherit;
  z-index: 1;
}

input, .formSelectInput:has(select) {
  height: var(--input-height);
  font-size: var(--input-font-size);
  font-family: var(--main-font-family);
  font-weight: var(--input-font-weight);
  border: 2px solid var(--input-border-color);
}

.formSelectInput:has(select) {
  display: grid;
  grid-template-areas: "select";
  position: relative;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  cursor: pointer;
}

.formSelectInput:has(select)::after {
  content: "▼";
  grid-area: select;
  display: flex;
  position: absolute;
  justify-self: end;
  align-items: center;
  justify-content: center;
  width: var(--input-height);
  height: var(--input-height);
  right: -2px;
  font-size: var(--input-font-size);
  color: #ffffff;
  background-color: var(--secondary-bg-color);
}

.formSelectInput:has(select:focus) { border-color: var(--secondary-bg-color); }

.formSelectInput:has(select) select { grid-area: select; }

.panelContainer {
  width: 100%;
  max-width: 1000px;
  background-color: var(--panel-bg-color);
  border: 1px solid rgba(39, 39, 39, 0.096);
  box-shadow: 0px 0px 12px 10px rgba(227, 227, 227, 1);
  -webkit-box-shadow: 0px 0px 12px 10px rgba(227, 227, 227, 1);
  -moz-box-shadow: 0px 0px 12px 10px rgba(227, 227, 227, 1);
  border-radius: 10px;
}

.panelHeaderContainer {
  width: 100%;
  padding: 0 15px 0 5px;
  margin-bottom: 18px;
}

.panelHeaderContainer h3 {
  width: 100%;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: 400;
  background: var(--accent-bg-color);
}

header {
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-areas:
    "info info info logo";
  grid-template-columns: 2fr fit-content(100%);
  padding: 30px 30px 0;
  top: 0;
  background-color: var(--accent-bg-color);
  border-bottom: 2px solid #fff;
  z-index: 999;
}

header #configuratorInfo { grid-area: info; place-self: start start; }

header #configuratorTitle { margin: 0 0 10px 0; font-weight: 400; }
header #configuratorDescription {
  margin: 0;
  color: var(--accent-font-color);
}

header #configuratorTitle > span { font-weight: 700; }
header #configuratorTitle span:has(span) span { color: var(--secondary-bg-color); }

header #configuratorLogo { grid-area: logo; place-self: start end; }

header #configuratorLogoImage {
  height: 25px;
  width: 187px;
  margin-bottom: 5px;
}

header #configuratorLanguage { color: gray; text-align: right; }
header #configuratorLanguage .langLink {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

header #configuratorLanguage .langLink:first-child { margin-right: 5px;
}

.configuratorPanel {
  width: 100%;
  padding: 23px 31px 41px;
  margin: 166px auto 11px;
}

.configuratorPanel .contentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.contentContainer .formContainer {
  width: 50%;
  padding-right: 22px;
  border-right: 2px solid var(--input-border-color);
  box-sizing: border-box;
}

.formContainer .form {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    ". amounts"
    "buildingInfo building"
    "gasInfo gas"
    "batteryInfo batterybackup"
    "wireInfo wireLength"
    ". button";
    row-gap: calc(3 * var(--input-margin));
}

.form .tooltip {
  place-self: center;
  position: relative;
  padding: 0px 6px;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: grey;
  font-weight: bold;
  border: 2px solid grey;
  border-radius: 50%;
  cursor: pointer;
}

.form .tooltip::before {
  position: absolute;
  display: none;
  content: attr(data-text);
  width: 300px;
  bottom: 180%;
  left: -50%;
  padding: 10px;
  font-family: var(--main-font-family);
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  background: #222;
  border-radius: 5px;
  z-index: 2;
}

.form .tooltip::after {
  position: absolute;
  display: none;
  content: "";
  bottom: 80%;
  left: -15%;
  border: 10px solid #222;
  border-color: #222 transparent transparent transparent;
  z-index: 2;
}

.form .tooltip:hover::before,
.form .tooltip:hover::after { display: block; }

.form .detectorAmounts,
.form .buildingType,
.form .detectedGas,
.form .batteryBackUp,
.form .wireLength {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  row-gap: var(--input-margin);
}

.form .detectorAmounts {
  grid-area: amounts;
  grid-template-areas:
    "detectorAmountsLabel"
    "detectorAmountsInputContainer";
}

.form .buildingType {
  grid-area: building;
  grid-template-areas:
    "structureLabel"
    "structureSelect";
}

.form .detectedGas {
  grid-area: gas;
  grid-template-areas:
    "detectedGasLabel"
    "detectedGasSelect";
}

.form .batteryBackUp {
  grid-area: batterybackup;
  grid-template-areas:
    "batteryBackUpLabel"
    "batteryBackUpSelect";
}

.form .wireLength {
  grid-area: wireLength;
  grid-template-areas:
    "wireLengthLabel"
    "wireLengthInputContainer";
}

.detectorAmounts .detectorAmountsLabel { grid-area: detectorAmountsLabel; }
.detectorAmounts .detectorAmountsInputContainer { grid-area: detectorAmountsInputContainer; }
.buildingType .structureLabel { grid-area: structureLabel; }
.buildingType .structureSelect { grid-area: structureSelect; }
.detectedGas .detectedGasLabel { grid-area: detectedGasLabel; }
.detectedGas .detectedGasSelect { grid-area: detectedGasSelect; }
.batteryBackUp .batteryBackUpLabel { grid-area: batteryBackUpLabel; }
.batteryBackUp .batteryBackUpSelect { grid-area: batteryBackUpSelect; }
.wireLength .wireLengthLabel { grid-area: wireLengthLabel; }
.wireLength .wireLengthInputContainer { grid-area: wireLengthInputContainer; }

.form .buildingInformation { grid-area: buildingInfo; }
.form .detectedGasInformation { grid-area: gasInfo; }
.form .batteryBackUpInformation { grid-area: batteryInfo; }
.form .wireLengthInformation { grid-area: wireInfo; }

.form .buildingType,
.form .detectedGas,
.form .batteryBackUp { max-width: 280px; }

.detectorAmounts .detectorAmountsLabel,
.buildingType .structureLabel,
.detectedGas .detectedGasLabel,
.batteryBackUp .batteryBackUpLabel,
.wireLength .wireLengthLabel { font-weight: 400; }

.buildingType .structureSelect,
.detectedGas .detectedGasSelect,
.batteryBackUp .batteryBackUpSelect { position: relative; }

.detectorAmounts .shadedAmount {
  color: var(--accent-font-color);
  margin: 0 var(--input-margin);
}

.formButton {
  width: 150px;
  height: var(--input-height);
  margin: 0;
  font-family: var(--main-font-family);
  font-size: 15px;
  color: #ffffff;
  background: var(--secondary-bg-color);
  border: none;
  cursor: pointer;
}

.formButton span {
  margin-left: calc(3 * var(--input-margin));
  font-size: 10px;
}

.form .formButton {
  grid-area: button;
  place-self: end end;
}

.contentContainer .descriptionContainer {
  width: 50%;
  padding-left: 22px;
  line-height: calc(var(--input-font-size) + 10px);
  text-align: justify;
  box-sizing: border-box;
}

.descriptionContainer ol { margin: 0; }
.descriptionContainer ol li { margin: 10px 0; }
.descriptionAboutContainer p { margin: 0; }

.descriptionContainer .descriptionAboutContainer a {
  color: var(--secondary-bg-color);
  font-weight: 600;
  text-decoration: none;
}

.dragAndDropPanel {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  padding: 23px 31px;
  margin: 0 auto 30px;
}

.dragAndDropPanel .dragAndDropArea {
  width: 100%;
  padding: 40px 30px;
  margin-bottom: 23px;
  color: var(--accent-font-color);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--accent-bg-color);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23DADADAFF' stroke-width='3' stroke-dasharray='12' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e");
}

.dragAndDropPanel input[type="file"] { display: none; }

.dragAndDropPanel label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}
