*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-font-family: "Spartan", Helvetica, sans-serif;
  --panel-bg-color: #ffffff;
  /* --panel-bg-color: #333; */
  --accent-bg-color: #fafaf9;
  --accent-font-color: #959494;
  --secondary-bg-color: #cc2a27;
  --input-height: 40px;
  --input-margin: 5px;
  --input-font-size: 12px;
  --input-font-weight: 300;
  --input-border-color: #dadada;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: var(--main-font-family);
  font-size: 14px;
  background: #e7e7e6;
  /* background: #111; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  width: var(--input-height);
  padding: 10px 4px;
  margin-right: var(--input-margin);
  text-align: center;
}

select {
  appearance: none;
  width: 100%;
  padding: 10px 4px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: inherit;
  z-index: 1;
}

input, .formSelectInput:has(select) {
  height: var(--input-height);
  font-size: var(--input-font-size);
  font-family: var(--main-font-family);
  font-weight: var(--input-font-weight);
  border: 2px solid var(--input-border-color);
}

.formSelectInput:has(select) {
  display: grid;
  grid-template-areas: "select";
  position: relative;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  cursor: pointer;
}

.formSelectInput:has(select)::after {
  content: "▼";
  grid-area: select;
  display: flex;
  position: absolute;
  justify-self: end;
  align-items: center;
  justify-content: center;
  width: var(--input-height);
  height: var(--input-height);
  right: -2px;
  font-size: var(--input-font-size);
  color: #ffffff;
  background-color: var(--secondary-bg-color);
}

.formSelectInput:has(select:focus) { border-color: var(--secondary-bg-color); }

.formSelectInput:has(select) select { grid-area: select; }

.panelStyle {
  background-color: var(--panel-bg-color);
}

header {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "info info info logo";
  grid-template-columns: 2fr fit-content(100%);
  padding: 30px 30px 0;
  background-color: var(--accent-bg-color);
  border-bottom: 2px solid #fff;
}

header #configuratorInfo { grid-area: info; place-self: start start; }

header #configuratorTitle { margin: 0 0 10px 0; font-weight: 400; }
header #configuratorDescription {
  margin: 0;
  color: var(--accent-font-color);
}

header #configuratorTitle > span { font-weight: 700; }
header #configuratorTitle span:has(span) span { color: var(--secondary-bg-color); }

header #configuratorLogo { grid-area: logo; place-self: start end; }

header #configuratorLogoImage {
  height: 25px;
  width: 187px;
  margin-bottom: 5px;
}

header #configuratorLanguage { color: gray; text-align: right; }
header #configuratorLanguage .langLink {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

header #configuratorLanguage .langLink:first-child { margin-right: 5px;
}

.appEntry {
  height: calc(100vh - 85px);
  width: 60%;
  margin: 60px auto 0 auto;
  display: grid;
  grid-template-areas:
    "configurator"
    "dragndrop";
  grid-template-rows: 525px 200px;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.appEntry .appEntryDescription {
  display: grid;
  grid-template-areas:
    "header"
    "config";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr;
}

.appEntry .entryHeader {
  grid-area: header;
  place-self: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appEntry .entryHeader h3 {
  font-weight: 300;
  height: 60px;
  width: 100%;
  border-radius: 10px;
  background: rgba(39, 39, 39, 0.037);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 40px;
  padding-left: 10px;
}

.appEntry .configuratorConfig {
  grid-area: config;
  display: grid;
  grid-template-areas: "form divider description";
  grid-template-columns: 1fr 1px 1fr;
}

.configuratorConfig .entryConfig { grid-area: form; }

.entryConfig .configForm {
  height: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    ". amounts"
    "buildingInfo building"
    "gasInfo gas"
    "batteryInfo batterybackup"
    "wireInfo wireLength"
    ". button";
    row-gap: calc(3 * var(--input-margin));
}

.configForm .tooltip {
  place-self: center;
  position: relative;
  padding: 0px 6px;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: grey;
  font-weight: bold;
  border: 2px solid grey;
  border-radius: 50%;
  cursor: pointer;
}

.configForm .tooltip::before {
  position: absolute;
  display: none;
  content: attr(data-text);
  width: 300px;
  bottom: 180%;
  left: -50%;
  padding: 10px;
  font-family: var(--main-font-family);
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  background: #222;
  border-radius: 5px;
  z-index: 2;
}

.configForm .tooltip::after {
  position: absolute;
  display: none;
  content: "";
  bottom: 80%;
  left: -15%;
  border: 10px solid #222;
  border-color: #222 transparent transparent transparent;
  z-index: 2;
}

.configForm .tooltip:hover::before,
.configForm .tooltip:hover::after { display: block; }

.configForm .detectorAmounts,
.configForm .buildingType,
.configForm .detectedGas,
.configForm .batteryBackUp,
.configForm .wireLength {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  row-gap: var(--input-margin);
}

.configForm .detectorAmounts {
  grid-area: amounts;
  grid-template-areas:
    "detectorAmountsLabel"
    "detectorAmountsInputContainer";
}

.configForm .buildingType {
  grid-area: building;
  grid-template-areas:
    "structureLabel"
    "structureSelect";
}

.configForm .detectedGas {
  grid-area: gas;
  grid-template-areas:
    "detectedGasLabel"
    "detectedGasSelect";
}

.configForm .batteryBackUp {
  grid-area: batterybackup;
  grid-template-areas:
    "batteryBackUpLabel"
    "batteryBackUpSelect";
}

.configForm .wireLength {
  grid-area: wireLength;
  grid-template-areas:
    "wireLengthLabel"
    "wireLengthInputContainer";
}

.detectorAmounts .detectorAmountsLabel { grid-area: detectorAmountsLabel; }
.detectorAmounts .detectorAmountsInputContainer { grid-area: detectorAmountsInputContainer; }
.buildingType .structureLabel { grid-area: structureLabel; }
.buildingType .structureSelect { grid-area: structureSelect; }
.detectedGas .detectedGasLabel { grid-area: detectedGasLabel; }
.detectedGas .detectedGasSelect { grid-area: detectedGasSelect; }
.batteryBackUp .batteryBackUpLabel { grid-area: batteryBackUpLabel; }
.batteryBackUp .batteryBackUpSelect { grid-area: batteryBackUpSelect; }
.wireLength .wireLengthLabel { grid-area: wireLengthLabel; }
.wireLength .wireLengthInputContainer { grid-area: wireLengthInputContainer; }

.configForm .buildingInformation { grid-area: buildingInfo; }
.configForm .detectedGasInformation { grid-area: gasInfo; }
.configForm .batteryBackUpInformation { grid-area: batteryInfo; }
.configForm .wireLengthInformation { grid-area: wireInfo; }

.configForm .buildingType,
.configForm .detectedGas,
.configForm .batteryBackUp { max-width: 280px; }

.detectorAmounts .detectorAmountsLabel,
.buildingType .structureLabel,
.detectedGas .detectedGasLabel,
.batteryBackUp .batteryBackUpLabel,
.wireLength .wireLengthLabel { font-weight: 400; }

.buildingType .structureSelect,
.detectedGas .detectedGasSelect,
.batteryBackUp .batteryBackUpSelect { position: relative; }

.detectorAmounts .shadedAmount {
  color: var(--accent-font-color);
  margin: 0 var(--input-margin);
}

.configForm .formButton {
  grid-area: button;
  width: 150px;
  height: 30px;
  place-self: center end;
  margin-right: 25px;
  border: none;
  background: #cc2a27;

  color: white;
}

.configuratorConfig .divider {
  grid-area: divider;
  border-left: 1px solid rgba(63, 63, 63, 0.377);
  height: 85%;
}

.configuratorConfig .entryDescription {
  grid-area: description;
  text-align: justify;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
  align-items: center;
  padding: 0 25px;
}

.entryDescription ol {
  margin: 0;
}

.entryDescription ol li {
  margin: 10px 0;
}

.entryDescription .aboutEntry a {
  text-decoration: none;
  color: rgb(189, 37, 37);
}

.aboutEntry p {
  margin: 0;
}

.appEntry .dragAndDropContainer {
  grid-area: dragndrop;
  display: grid;
  grid-template-areas:
    "dropArea"
    "dragAreaButton";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 60px;
}

.dragAndDropContainer .dragNDropArea {
  grid-area: dropArea;
  color: rgba(63, 63, 63, 0.5);
  place-self: center;
  font-size: large;
  height: 75%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-bg-color);
  border: 1px dashed rgba(63, 63, 63, 0.301);
}

.dragAndDropContainer input[type="file"] {
  display: none;
}

.dragAndDropContainer label {
  grid-area: dragAreaButton;
  width: 150px;
  height: 30px;
  place-self: center end;
  margin-right: 25px;
  border: none;
  background: #cc2a27;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appEntryDescription,
.dragAndDropContainer {
  border: 1px solid rgba(39, 39, 39, 0.096);

  box-shadow: 0px 0px 102px 10px rgba(227, 227, 227, 1);
  -webkit-box-shadow: 0px 0px 102px 10px rgba(227, 227, 227, 1);
  -moz-box-shadow: 0px 0px 102px 10px rgba(227, 227, 227, 1);
  border-radius: 10px;
}
