
.systemConfiguration {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.systemConfiguration > div {
    transition: all .8s;
}

.systemConfiguration .segmentConfiguration {
    display: grid;
    grid-template-areas: 
    "panelInfo panelInfo" 
    "device device"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
    min-width: 0;
    min-height: 0;
}

.segmentConfiguration .panelInfo {
    grid-area: panelInfo;
}

.segmentConfiguration .segmentListContainer {
    grid-area: device;
    display: grid;
    grid-auto-rows: 33.3%;
    place-items: center;
    min-width: 0;
    overflow: auto;
}

.systemConfiguration .configureManySegments {
    align-self: flex-end;
    width: 100%;
    flex-grow: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.segmentConfiguration .segmentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "deviceImage device" "deviceImage deviceCableDim" "deviceImage deviceCableLength";
    row-gap: 15px;
    width: 95%;
    background: rgb(255, 249, 249);
    padding: 25px 20px;
}

.segmentContainer > div {
    padding: 2px 0;
    width: 100%;
}

.segmentContainer .deviceName {
    grid-area: device;
}

.segmentContainer .cableDim {
    grid-area: deviceCableDim;
}

.segmentContainer .cableLen {
    grid-area: deviceCableLength;
}

.segmentContainer .deviceImageContainer {
    grid-area: deviceImage;
    height: 240px;
    width: 230px;
    max-height: 250px;
    max-width: 240px;
}

.segmentContainer .deviceImageContainer img {
    width: 100%;
    height: 100%;
}

/* .segmentConfiguration .segmentListContainer {
    overflow: auto;
} */

.segmentConfiguration .segmentListContainer .midsegment {
    background: red;
}

.counterBox {
    text-align: center;
    font-size: 35px;
    color: rgba(32, 32, 32, 0.664);
}

.systemConfiguration .panelInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrowContainer {
    width: 10px;
    height: 10px;
    position: relative;
    margin-right: 15px;
}

.configureManySegmentsArrow {    
    border: 1px solid black;
    border-left: 0px;
    border-bottom: 0px;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    position: absolute;
    bottom: -5px;
}

.systemConfiguration .active .panelInfo, .panelInfo:hover {
    background: rgba(207,207,207,1);
    cursor: pointer;
}

.active .configureManySegmentsArrow{
    transform: rotate(135deg);
    bottom: 0;
}

.systemConfiguration .segmentConfiguration.active {
    flex-grow: 2;
}

.systemConfiguration .configureManySegments.active {
    flex-grow: 2;
}

.systemConfiguration .configureManySegments.active .configureMany {
    display: block;
}

.systemConfiguration .configureManySegments.active .configureMany form.changesForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.rangeOfChanges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.systemConfiguration .configureManySegments.active .configureMany > div {
    transition: all .8s;
}

.systemConfiguration .configureManySegments.active .configureMany .rangeOfChanges {
    text-align: center;
}

.systemConfiguration .segmentListContainer {
    display: none;
}

.systemConfiguration .configureMany {
    display: none;
} 

.systemConfiguration .active .segmentListContainer {
    display: grid;
}

