.system .systemPreview {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100%;
  overflow: auto;
}

.systemPreview .systemGraphics,
.systemActions {
  place-self: start center;
  width: 100%;
  height: 100%;
}

.systemPreview .systemGraphics {
  display: grid;
  grid-template-areas:
    "header"
    "controlUnit"
    "device";
  grid-template-rows: 50px 150px 1fr;
}

.systemPreview .systemGraphics .systemHeader {
  grid-area: header;
  place-self: center;
  margin: 0 15px;
  width: 95%;
}

.systemPreview .systemGraphics .systemPreviewControlUnit {
  grid-area: controlUnit;
  margin-top: 20px;
}

.systemPreview .systemGraphics .systemPreviewControlUnit img {
  width: 100%;
  height: 100%;
}

.systemPreview .systemGraphics .deviceImages {
  grid-area: device;
  place-self: start center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.systemGraphics .deviceImages .previewContainer {
  width: 100%;
  display: grid;
  grid-template-areas: "sirenImage tcon deviceImage";
  grid-template-rows: 200px;
  grid-template-columns: 1fr 1fr 1fr;
}

.deviceImages .previewContainer .signallerImageContainer {
  grid-row: sirenImage;
}

.deviceImages .previewContainer .busImageContainer {
  grid-row: tcon;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deviceImages .previewContainer .detectorImageContainer {
  grid-row: deviceImage;
}

.previewContainer img {
  height: 100%;
}

.systemActions {
  display: grid;
  grid-template-areas:
    "actionHeader"
    "actions";
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.systemActions .systemHeader {
  grid-area: actionHeader;
}

.systemActions .actionListContainer {
  grid-area: actions;
  margin-top: 20px;
  display: grid;
  grid-template-rows: 130px;
  grid-auto-rows: 200px;
}

.actionListContainer .segmentIdentyfier {
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 2px;
}

.actionListContainer p {
  padding: 0;
  margin: 0;
}

.actionListContainer .actionsContainer:first-child {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.actionsContainer:first-child > * {
  margin: 10px 0;
}

.actionListContainer .actionsContainer:not(:first-child) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "segmentNumber . ."
    "segmentDevice . signallerDevice"
    "cableLength cableLength buttons";
}

.actionsContainer:not(:first-child) .segmentNumber {
  grid-area: segmentNumber;
  place-self: center start;
}

.actionsContainer:not(:first-child) .deviceSelection {
  grid-area: segmentDevice;
  place-self: center start;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.actionsContainer .deviceSelection > *,
.actionsContainer .toledContainer > * {
  margin: 5px 0;
}

.actionsContainer .toledContainer {
  grid-area: signallerDevice;
  place-self: center start;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.actionsContainer:not(:first-child) .wireLengthActionContainer {
  grid-area: cableLength;
  place-self: center start;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.wireLengthActionContainer > * {
  margin: 10px 0;
}

.actionListContainer input,
.actionListContainer select {
  width: 150px;
}

.previewContainer:nth-child(odd),
.actionsContainer:nth-child(even) {
  background: #f6f6f6;
}
