.system {
  display: grid;
  grid-template-areas:
    "systemStatus systemPreview wrapper";
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 25px;
  row-gap: 17px;
}

.system .panelContainer { padding: 15px 20px 15px 10px; }
.system .panelContentContainer { padding-left: 15px; }
.system .panelHeaderContainer { padding: 0; }
.system .panelHeaderContainer h3 { margin: 0 0 30px; }
.usedDevices .panelHeaderContainer h3 { padding: 20px 24px; }

.system .systemStatus { grid-area: systemStatus; place-self: start end; }
.system .systemPreview { grid-area: systemPreview; }
.system .wrapper { grid-area: wrapper; place-self: start start;}

.system .systemStatus,
.system .wrapper { width: 100%; max-width: 325px; }
.system .systemPreview { width: 100%; max-width: 1100px; }

.system .systemStatus { display: flex; flex-direction: column; }

.system .systemFiles { margin-bottom: 17px; }

.systemStatus .systemPreviewContainer { height: 100%; flex: 1; }

.systemPreviewContainer ol { margin: 0; list-style: none; }

.systemPreviewContainer .divider {
  height: 1px;
  width: 85%;
  border-bottom: 1px solid rgba(39, 39, 39, 0.28);
  margin: 0 auto;
}

.systemPreviewContainer > div { margin: 10px; }

.systemPreviewContainer span { font-weight: 800; }

.systemPreviewContainer .devices {
  display: grid;
  grid-template-areas:
    "description description"
    "deviceList deviceAmountList";
  grid-template-columns: 150px 1fr;
}

.systemStatusContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.systemStatusContainer .systemState { place-self: center start; }

.systemStatusContainer .systemOutput {
  place-self: center;
  margin-left: 45px;
}

.devices .deviceListHeader {
  grid-area: description;
  margin-left: 15px;
}

.devices .detectorListContainer {
  grid-area: deviceList;
}

.devices .deviceAmounts {
  grid-area: deviceAmountList;
  place-self: center;
}

.systemPreviewContainer .signallers {
  display: grid;
  grid-template-areas:
    "description description"
    "signallerList signallerAmountList";
  grid-template-columns: 150px 1fr;
}

.signallers .signallerListHeader {
  grid-area: description;
  margin-left: 15px;
}

.signallers .signallerListContainer {
  grid-area: signallerList;
}

.signallers .signallerAmounts {
  grid-area: signallerAmountList;
  place-self: center;
}

.systemPreviewContainer .accessories {
  display: grid;
  grid-template-areas:
    "accessoryDescription accessoryDescription"
    "accessoryList accessoryAmountList";
  grid-template-columns: 150px 1fr;
}

.accessories .accessoriesListHeader {
  grid-area: accessoryDescription;
  margin-left: 15px;
}

.accessories .accessoriesListContainer {
  grid-area: accessoryList;
}

.accessories .accessoriesAmounts {
  grid-area: accessoryAmountList;
  place-self: center;
}

.systemPreviewContainer .controlUnit {
  display: grid;
  grid-template-areas:
    "controlUnitDesc controlUnitDesc"
    "busLength lengthValue"
    "powerConsumption consumptionValue";
  grid-template-columns: 180px 1fr;
}

.controlUnit .controlUnitHeader {
  grid-area: controlUnitDesc;
  margin-left: 15px;
}

.controlUnit .busLengthDescription {
  grid-area: busLength;
  padding-left: 40px;
}

.controlUnit .systemPowerConsumption {
  grid-area: powerConsumption;
  padding-left: 40px;
}

.controlUnit .busLength {
  grid-area: lengthValue;
  place-self: center;
}

.controlUnit .powerConsumption {
  grid-area: consumptionValue;
  place-self: center;
}

.systemPreviewContainer .powerSupplyContainer {
  border: 2px solid rgb(0, 156, 52);
  padding: 15px 10px;
  display: grid;
  grid-template-areas:
    "powerSupplyHeader"
    "psu"
    "wireDim"
    "systemStatus"
    "optimizeButton";
  margin-top: 45px;
}

.powerSupplyContainer .powerSupplyHeader {
  grid-area: powerSupplyHeader;
}

.powerSupplyContainer .supplyType {
  grid-area: psu;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.supplyType .powerSupply {
  place-self: start;
  padding-left: 15px;
}

.supplyType .powerSupplyDetails {
  place-self: end;
  padding-right: 15px;
}

.powerSupplyContainer .wireDiameterContainer {
  grid-area: wireDim;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wireDiameterContainer .wireDiameter {
  place-self: start;
  padding-left: 15px;
}

.wireDiameterContainer .typeOfWire {
  place-self: end;
  padding-right: 15px;
}

.powerSupplyContainer .systemStatusContainer {
  grid-area: systemStatus;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.systemStatusContainer .systemState {
  place-self: start;
  padding-left: 15px;
}

.systemStatusContainer .systemOutput {
  place-self: end;
  padding-right: 15px;
}

.powerSupplyContainer .optimizeContainer {
  grid-area: optimizeButton;
  display: grid;
  grid-template-columns: 1fr;
}

.optimizeContainer .optimizeSystem {
  width: 150px;
  height: 30px;
  place-self: center end;
  border: none;
}
