#usedDevicesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#usedDevicesContainer .usedDeviceItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
  border-bottom: 2px solid var(--input-border-color);
}

#usedDevicesContainer .usedDeviceItem:first-child { padding-top: 0; }

.usedDeviceItem .systemUsedDeviceDataContainer {
  display: flex;
  flex-direction: column;
}

.systemUsedDeviceDataContainer p { margin: 0; }

.systemUsedDeviceDataContainer .usedDeviceName {
  font-weight: 500;
  margin-bottom: 2px;
}

.systemUsedDeviceDataContainer .usedDeviceDocs {
  align-self: end;
  color: var(--secondary-bg-color);
  text-decoration: none;
}

.systemUsedDeviceDataContainer .usedDeviceImageContainer {
  max-width: 100px;
}

.usedDeviceImageContainer img {
  width: 100%;
  max-height: 100px;
}
